#contuctUs{
    background-color: #F83D8E;
    border-radius: 20px;
    color: #eee;
    font-size: 15px;
    font-weight: 500;
}

#contuctUs:hover{
    box-shadow: 2px 2px 4px #F83D8E , -2px -2px 4px #F83D8E ;
}

.navbar-brand{
    font-family: "Berkshire Swash", serif;
    color: #77449C;
}

.navbar-brand span{
    color: #77449C;
}

.navbar-brand span:nth-child(2){
    color: #F83D8E;
}

.nav-item :hover{
    color: #F83D8E;
}

.dropdown-item:hover{
    background-color: #F83D8E;
    color: #eee;
}

main{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #683292;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer img{
    width: 80%;
}

#content{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Copyright{
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    color: #eee;
    font-family: sans-serif;
    font-size: 10px;
}

.info-container{
    /* border: 1px solid blue; */
    width: 100%;
    height: 90%;
    display: flex;
}

.info{
     /* border: 1px solid green; */
     width: 25%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
}

.info img{
    width: 30%;
}

.info p{
    
    color: #eee;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0px 0px 0px 15px;
}

.navbar-brand{
    font-family: "Berkshire Swash", serif;
    font-size: 20px;
    color: #eee;
}

#footerLogo{
    color: #eee;
}

#navigationList ul{
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

#navigationList ul li{
    width: 50%;
}

#navigationList ul li::marker{
    color: #F83D8E;
    font-size: 13px;
}

#navigationList ul li a{
    text-decoration: none;
    color: #eee;
    font-size: 13px;
}

#navigationList ul li a:hover{
    color: #F83D8E;
}

.info:nth-child(3) div{
    /* border: 1px solid red; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info:nth-child(3) div i{
    padding: 10px;
    border-radius: 20px;
    color: #eee;
    background-color: rgb(255, 255, 255, 0.1);
    text-align: center;
    width: 17%;
    height: 35%;
}

.info:nth-child(3) div div{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info:nth-child(3) div div h5{
    color: #eee;
    font-size: 15px;
    align-self: flex-start;
}

.info:nth-child(3) div div p{
    color: #ddd;
    font-size: 10px;
    align-self: flex-start;
}

.info:nth-child(4) div{
    /* border: 1px solid red; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.info:nth-child(4) div i{
    transform: rotate3d(0, 1, 0, 180deg);
    padding: 10px;
    color: #eee;
    text-align: start;
    justify-self: start;
    font-size: 30px;
    width: 20%;
    height: 40%;

}

.info:nth-child(4) div div{
    height: 40%;
    display: flex;
    flex-direction: column;
}

.info:nth-child(4) div div h5{
    color: #eee;
    font-size: 15px;
    align-self: flex-start;
    padding: 10px 0px 0px 10px;
}

.info:nth-child(4) div div p{
    color: #ddd;
    font-size: 10px;
    align-self: flex-start;
}

#social{
    height: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#social a{
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 20px;
    text-align: center;
    width: 17%;
}

#social i{
    transform: none;
    margin-right: 10px;
    color: #eee;
    text-align: center;
    font-size: 15px;
    height: 70%;
}

#last{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;

}

#last button{
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #F83D8E;
    color: #eee;
}

.first-section{
    /* width: 100vw; */
    height: 87vh;
    background-image: url(/images/1c63e8a86128086716d77865edd7b99e.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.first-section img:nth-child(1){
    width: 599px;
    height: 420px;;
    position: absolute;
    left: 750px;
    top: 110px;
}

.first-section p {
    width: 100px;
    height: 100px;
    border-radius: 83px;
    padding: 17px;
    border: 4px solid #F69C0C;
    background: linear-gradient(180deg, #FBAB2A 0%, #FFC972 100%);
    text-align: center;
    color: #eee;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 800px;
    top: 150px;
}

.first-section img:nth-child(3){
    width: 190px;
    height: 90px;
    position: absolute;
    left: 845px;
    top: 92px;
}

.first-section img:nth-child(4){
    width: 90px;
    height: 40px;
    position: absolute;
    left: 680px;
    top: 420px;
}

.first-section img:nth-child(5){
    width: 142px;
    height: 70px;
    position: absolute;
    left: 380px;
    top: 535px;
}

.first-section img:nth-child(6){
    width: 80px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 150px;
}

.first-section div:nth-child(7){
    display: flex;
    width: 500px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: "Berkshire Swash";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 96.429% */
    position: absolute;
    left: 190px;
    top: 190px;
}

.first-section div:nth-child(8){
    display: flex;
    width: 500px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 136.364% */
    position: absolute;
    left: 190px;
    top: 360px;
}

.first-section img:nth-child(9){
    width: 30px;
    height: 32px;
    position: absolute;
    left: 750px;
    top: 200px;
}

.first-section img:nth-child(10){
    width: 60px;
    height: 60px;
    position: absolute;
    left: 77px;
    top: 300px;
}

.first-section a:nth-child(11){
    display: flex;
    width: 210px;
    height: 40px;
    padding: 20px 0px 10px 0px;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F83D8E;
    position: absolute;
    left: 190px;
    top: 430px;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 16px; */
}

.first-section a i{
    padding-bottom: 3px;
}

.first-section a:nth-child(11):hover{
    box-shadow: 2px 2px 4px #F83D8E ,  -2px -2px 4px #F83D8E;
    color: #eee;
    cursor: pointer;
}

.second-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section>a{
    color: #0F0200;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.second-section>a:hover{
    transform: scale(1.2);
}

.second-section main{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.second-section main>p{
    height: 10%;
    margin-bottom: 0;
}

.second-section main p:nth-child(1){
    color: #0F0200;
    height: 15%;
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.second-section main p:nth-child(1) span{
    color: #F83D8E;
}

.second-section main p:nth-child(2){
    color: #646464;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.second-section main>div{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}

.second-section main>div .card{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-section main>div .card img{
    border-radius: 0;
}

.second-section main>div .card h5{
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 0;
    font-weight: 600;
    color: #0F0200;
}

#rate{
    font-size: 10px;
    font-weight: 700;
    color: #0F0200;
    margin-bottom: 0;
}

#rate i{
    color: #F69C0C;
}

#price{
    color: #683292;
    margin-bottom: 0;
    font-weight: 700;
}

.second-section main>div .card .btn{
    background-color: #F83D8E;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    padding: 7px 20px 7px 20px;
}

.second-section main>div .card .btn:hover{
    transform: scale(1.05);
}

.third-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(119deg, #EFD7EF 8%, #F5F9FC 43%, #F8EAE1 64%, #EAF8F9 87%);
}

.third-section img:nth-child(1){
    width: 150px ;
    height: 240;
    position: absolute;
    left: 1199px;
    top: 1363px;
}

.third-section img:nth-child(2){
    width: 32px;
    height: 33px;
    position: absolute;
    left: 1160px;
    top: 1330px;
}

.third-section img:nth-child(3){
    width: 39px;
    height: 37px;
    position: absolute;
    left: 190px;
    top: 1440px;
}

.third-section img:nth-child(4){
    width: 50px;
    height: 15px;
    position: absolute;
    left: 160px;
    top: 1359px;
}

.third-section main{
    width: 50%;
    height: 60%;
}

.third-section main div:nth-child(1){
    width: 45%;
    height: 100%;
    background-image: url(/images/Image.png);
    background-size: cover;
    background-position: center;
}

.third-section main div:nth-child(2){
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    background-color: #fff;
}

.third-section main div:nth-child(2) h5{
    color: #0F0200;
    width: 90%;
    height: 15%;
    font-family: "Berkshire Swash";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}

.third-section main div:nth-child(2) h5 span{
    color: #F83D8E;
}

.third-section main div:nth-child(2) p{
    color: #646464;
    width: 100%;
    height: 10%;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 30px;
}

.third-section main div:nth-child(2) .btn{
    background-color: #F83D8E;
    color: #eee;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    padding: 7px 20px 7px 20px;
}

.third-section main div:nth-child(2) .btn:hover{
    transform: scale(1.05);
}

.fourth-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-section p:nth-child(1){
    color: #0F0200;
    height: 10%;
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.fourth-section p:nth-child(1) span{
    color: #F83D8E;
}

.fourth-section p:nth-child(2){
    height: 10%;
    color: #646464;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.fourth-section>div{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-section div div:nth-child(1) ,.fourth-section div div:nth-child(3){
    width: 30%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2); /* Needs transparency */
    backdrop-filter: brightness(50%);
    background-image: url(/images/option-image1.jpg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section div div:nth-child(2){
    width: 35%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Needs transparency */
    backdrop-filter: brightness(50%);
    background-image: url(/images/option-image2.jpg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-section div div:nth-child(2) a{
   background-color: #F83D8E;
   padding: 10px 15px 10px 15px;
   border-radius: 30px;
}

.fourth-section div div:nth-child(2) p{
    color: #ddd;
}

.fourth-section a{
    text-decoration: none;
    color: #FFF ;
    transition: 0.3s ease-in-out;
}

.fourth-section a:hover{
    transform: scale(1.1);
}

.fourth-section div div:nth-child(3){
    background-image: url(/images/option-image3.jpg.png);
}

.fourth-section div div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); /* Darkens the background */
    z-index: -1;
}

.fifth-section{
    height: 75vh;
    background: url(/images/1c63e8a86128086716d77865edd7b99e.jpg) lightgray -16.11px 0px / 101.678% 100% no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section img:nth-child(1){
    width: 420px;
    height: 320px;
    position: absolute;
    top: 85px;
    left: 85px;
}

.fifth-section img:nth-child(2){
    width: 370px;
    height: 390px;
    position: absolute;
    top: 30px;
    left: 915px;
}

.fifth-section img:nth-child(3){
    width: 55px;
    height: 55px;
    position: absolute;
    top: 300px;
    left: 900px;
}

.fifth-section img:nth-child(4){
    width: 90px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 430px;
}

.fifth-section>div{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifth-section>div h5{
    color: #fff;
    width: 90%;
    height: 10%;
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 120px;
}

.fifth-section>div p{
    color: #fff;
    width: 90%;
    height: 10%;
    text-align: center;
    font-family: "Archivo";
    font-weight: 400;
}

.fifth-section>div p span{
    color: #FFD800;
}

.fifth-section>div .btn{
    background-color: #F83D8E;
    color: #eee;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
}

.fifth-section>div .btn:hover{
    transform: scale(1.05);
}

.fifth-section>div p:nth-child(4){
    font-size: 12px;
}

.sixth-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section>a{
    color: #0F0200;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.sixth-section>a:hover{
    transform: scale(1.2);
}

.sixth-section main{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sixth-section main>p{
    height: 10%;
    margin-bottom: 0;
}

.sixth-section main p:nth-child(1){
    color: #0F0200;
    height: 15%;
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.sixth-section main p:nth-child(1) span{
    color: #F83D8E;
}

.sixth-section main p:nth-child(2){
    color: #646464;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.sixth-section main>div{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}

.sixth-section main>div .card{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sixth-section main>div .card img{
    border-radius: 0;
}

.sixth-section main>div .card h5{
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 0;
    font-weight: 600;
    color: #0F0200;
}

#rate{
    font-size: 10px;
    font-weight: 700;
    color: #0F0200;
    margin-bottom: 0;
}

#rate i{
    color: #F69C0C;
}

#price{
    color: #683292;
    margin-bottom: 0;
    font-weight: 700;
}

.sixth-section main>div .card .btn{
    background-color: #F83D8E;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    padding: 7px 20px 7px 20px;
}

.sixth-section main>div .card .btn:hover{
    transform: scale(1.05);
}

.seventh-section{
    border: 1px solid black;
    height: 90vh;
    background: linear-gradient(295deg, #EFD7EF 8%, #F5F9FC 43%, #F8EAE1 64%, #EAF8F9 87%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seventh-section h5{
    color: #000;
    width: 60%;
    height: 10%;
    text-align: center;
    font-family: "Berkshire Swash";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.seventh-section h5 span{
    color: #F83D8E;
}

.seventh-section #rate{
    font-size: 15px;
    margin-bottom: 20px;
}

.seventh-section p:nth-child(4){
    width: 50%;
    height: 20%;
    text-align: center;
    font-family: "Archivo";
}

.seventh-section p:nth-child(5){
    width: 50%;
    height: 2%;
    text-align: center;
    font-family: "Archivo";
    font-size: 18px;
    font-weight: 600;
    color: #F83D8E;
}

.seventh-section>div{
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seventh-section>div img{
    width: 20%;
    height: 100%;
    border-radius: 40px;
}

.seventh-section>div a{
    color: #000;
}